<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>dpw</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/media.css">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
<section class="topsection">
    <div class="display">
        <i class="uil uil-bars" id="showmenu"></i>
        <i class="uil uil-times" id="hidemenu"></i>
    </div>
    
    <div class="navbar" id="navbar">
        <div class="logo">
            <span class="brand">dpw</span>
        </div>
    
        <div class="links">
            <a href="/"><i class="uil uil-home"></i> Home</a>
            <a href="/course/outline"><i class="uil uil-book"></i> Course Outline</a>
            <a href="/seminars"><i class="uil uil-users-alt"></i> Seminars</a>
            <a href="aboutus"><i class="uil uil-pen"></i> About us</a>
            <a href="/community"><i class="uil uil-signal"></i> Community</a>
            <a href="/signup"><i class="uil uil-signin"></i> Signup</a>
    
            <small id="mobcopyright">&copy;</small>
            <i class="uil uil-times" id="hidemenu"></i>
        </div>
    </div>

    
    <div class="banner">
        <div class="welcome">
            <h2>
                Welcome to <span class="ceo">Danny's</span> <strong>Programming Workshops</strong>. An Online Platform for learning programming across the globe. I offer the best platform for <strong>simplying programming concepts</strong> that helps you to grab your dream job and to become a product of yourself. 
            </h2>
             
            <a href="/signup"><button class="btn btn-sm btn-info">Signup With Us <i class="uil uil-signout"></i></button></a>
        </div>
    </div>

</section><!--top section closing-->

<!-- ============================================================================================ -->




<section class="middlesection">
    <div class="keys">
        <div class="key">
            <div class="topic">
                <h5><i class="uil uil-sign-alt"></i> Job Offers</h5>
                <hr>
            </div>
            <div class="image">
                 <img src="images/girlcoding.png" alt="" class="image-fluid" loading="lazy">   
            </div>
            <div class="notes">
                <p>
                    <strong>We offer job offers</strong> for developers, designers, and other professionals interested in learning programming. <strong>Enroll with us</strong> in our courses and start your coding journey today.
                </p>
            </div>
        </div>


        <div class="key">
            <div class="topic">
                <h5><i class="uil uil-award"></i> Certification</h5>
                <hr>
            </div>
            <div class="image">
                 <img src="../images/team.jpeg" alt="" class="image-fluid" loading="lazy">   
            </div>
            <div class="notes">
                <p>
                    We offer a completion <strong>certificate at a course rate of $10</strong> which is issued by the end of our registered online sessions. Moreover, <strong>Our Platform is a registered entity</strong> with a legal coverage of Operational Certificate in the business market. 
                </p>
            </div>
        </div>


        <div class="key">
            <div class="topic">
                <h5><i class="uil uil-layers-alt"></i> Flexibilty</h5>
                <hr>
            </div>
            <div class="image">
                 <img src="images/office.png" alt="" class="image-fluid" loading="lazy">   
            </div>
            <div class="notes">
                <p>
                    <strong>Our course break down sessions</strong> are with the best flexibilty easy to understand and practice at online sessions and offline session. <strong>Best explanations, methodology and concepts</strong> that motivates and builds confidence.
                </p>
            </div>
        </div>


        
        <div class="key">
            <div class="topic">
                <h5><i class="uil uil-bring-bottom"></i> Mastery</h5>
                <hr>
            </div>
            <div class="image">
                 <img src="images/codelab.jpg" alt="" class="image-fluid" loading="lazy">   
            </div>
            <div class="notes">
                <p>
                    You become the product for many companies or business entities through out tuitionship, we will bring the best in you as a beginner, an average or a professional. <strong>Our sessions are divided into beginner friendly course sessions, intermediate course sessions and master class sessions</strong>. We build our clients with a learning model of projects as an assessment of student progress.
                </p>
            </div>
        </div>


        
        <div class="key">
            <div class="topic">
                <h5><i class="uil uil-bring-bottom"></i> Full Stack Developer</h5>
                <hr>
            </div>
            <div class="image">
                 <img src="images/bannerimage.jpg" alt="" class="image-fluid" loading="lazy">   
            </div>
            <div class="notes">
                <p>
                    <strong>If you want to become a full stack developer</strong>, our platform is not an exclusion for your dream jobs. We build our client through the path way that channels them to the right job market. Our courses are clear and straight making no turns just to waste clients time and resources for personal gains. <strong>We also helps clients to decide the best area of IT</strong> they want to specialize as part of our core mandate by our counselling team.
                </p>
            </div>
        </div>

        
        <div class="key">
            <div class="topic">
                <h5><i class="uil uil-illustration"></i> Excellency</h5>
                <hr>
            </div>
            <div class="image">
                 <img src="images/guy coding.jpg" alt="" class="image-fluid" loading="lazy">   
            </div>
            <div class="notes">
                <p>
                    <strong>Producing and excellent work</strong> for your clients which serves as a hallmark for a reliable product. With us you will feel <strong>proud, happy and a sense of heaviness</strong> in you for a delivery of services to your clients.
                </p>
            </div>
        </div>


    </div>
</section>
















<section class="bottomsection">
    <div class="services">
        <div class="infos">
            <h3>Our Services</h3>
            <hr>
            <p>We offer the best learning platform for simplifying programming concepts that <strong>helps you to grab your dream job and to become a product of yourself</strong>. Enroll with us in the following courses</p>
                <div class="lessons">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>React</li>
                    <li>Node.js</li>
                    <li>Python</li>
                    <li>Django</li>
                    <li>Kotlin</li>
                    <li>Swift</li>
                    <li>C++</li>
                    <li>Java</li>
                    <li>C#</li>
                    <li>MYSQL</li>
                    <li>PostgreSQL</li>
                    <li>MongoDB</li>
                </div>               
        </div>

        <div class="tools">
            <h3>Our Platform Softwares</h3>
            <hr>
            <p>We are using the following <strong>tools to make our platform easy</strong> to use and to make learning programming easier</p>
                <li>Visual Studio Code</li>
                <li>XAMMP</li>
                <li>Git</li>
                <li>GitHub</li>
                <li>Render (Free Hosting Platform)</li>
        </div>

        <div class="mission">
            <h3>Our Mission</h3>
            <hr>
            <p><strong>Our mission is to make learning programming as simple and accessible as possible for everyone</strong>. We want to help people to become productive programmers and to become a part of the global programming community</p>
        </div>

        <div class="media">
            <h3>Our Social Media</h3>
            <hr>
            <p>Follow us on our social media platforms to stay updated with the latest news, announcements, and events</p>
                <li><i class="uil uil-facebook"></i> Facebook</li>
                <li><i class="uil uil-twitter"></i> Twitter</li>
                <li><i class="uil uil-instagram"></i> Instagram</li>
                <li><i class="uil uil-linkedin"></i> LinkedIn</li>
            </div>
        </div>
        
        <div class="copyright">
            <strong>&COPY; 2024</strong> All Rights Reserved designed by Daniel Nimako CEO of (DPW)
            <div class="owner"></div>
        <h6>
            <i class="uil uil-phone"></i> +233 597639506 <br>
            <i class="uil uil-envelope"></i> codekaakyiredanny@gmail.com <br>
            <i class="uil uil-map-marker"></i> Effiduasi - Ashanti Region
        </h6>

    </div>
</section>



</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script src="/js/vanilla.js"></script>
</body>
</html>


