<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>dpw</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/media.css">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
        <div class="container-fluid">             
            <section class="topsection">
                <div class="display">
                    <i class="uil uil-bars" id="showmenu"></i>
                    <i class="uil uil-times" id="hidemenu"></i>
                </div>
                
                <div class="navbar" id="navbar">
                    <div class="logo">
                        <span class="brand">dpw</span>
                    </div>
                
                    <div class="links">
                        <a href="/"><i class="uil uil-home"></i> Home</a>
                        <a href="/course/outline"><i class="uil uil-book"></i> Course Outline</a>
                        <a href="/seminars"><i class="uil uil-users-alt"></i> Seminars</a>
                        <a href="aboutus"><i class="uil uil-pen"></i> About us</a>
                        <a href="/community"><i class="uil uil-signal"></i> Community</a>
                        <a href="/signup"><i class="uil uil-signin"></i> Signup</a>
                
                        <small id="mobcopyright">&copy;</small>
                        <i class="uil uil-times" id="hidemenu"></i>
                    </div>
                </div>
            
                
                <div class="outline_banner">
                    <div class="outline_welcome">
                        <h2>
                            Our <span class="outline_color">Course Outline</span> <strong>for the session and schedules.You can also revisit your email by <span class="outline_color">DPW</span> for the schedules stated for online sessions</strong>. Our course structural arrangement gives you the fastest understanding of the concepts when it comes learning.

                        </h2>
                         
                        <a href="#outline_container"><button class="btn btn-sm btn-info">Explore Outline Session <i class="uil uil-signout"></i></button></a>
                    </div>
                </div>
            
            </section><!--top section closing-->
            
            <!-- ============================================================================================ -->
            


            <section class="outline_container">
                <div class="html">
                    <h4>HTML</h4>
                    <p>
                        <strong>Hypertext Markup Language</strong>, or HTML, is a programming language used to describe the structure of web pages. HTML makes it possible to create static pages with <strong>text, headings, tables, lists, images, links, and so on.</strong>
                    </p>
                    <hr>

                    <div class="html_gallery">
                        <img src="/images/html.webp" loading="lazy" class="img-fluid" alt="">
                        <img src="/images/adv.webp" loading="lazy" class="img-fluid" alt="">
                        <img src="/images/projects.webp" loading="lazy" class="img-fluid" alt="">
                        <img src="/images/extension.jpg" loading="lazy" class="img-fluid" alt="">
                    </div>

                    <hr>
                    <p>
                        <strong>Our course structure</strong> begins with the fundamentals of HTML Language which is the starting point of our clients journey. With HTML, you <strong>understands the skeleton</strong> system behind applications and systems. <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Features of html language</a>
                    </p>
                    
                    <div class="html_slides"></div>

                    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                        <div class="offcanvas-header">
                          <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdroped with scrolling</h5>
                          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                          <ul>
                            <li>HTML elements</li>
                            <li>HTML attributes</li>
                            <li>HTML tags</li>
                            <li>HTML structure</li>
                            <li>HTML document structure</li>
                            <li>HTML entities</li>
                            <li>HTML comments</li>
                            <li>HTML forms</li>
                            <li>HTML events</li>
                            <li>HTML lists</li>
                            <li>HTML tables</li>
                            <li>HTML headings</li>
                            <li>HTML paragraphs</li>
                            <li>HTML images</li>
                            <li>HTML links</li>
                            <li>HTML headings</li>
                          </ul>

                          <p>
                            Features of HTML
Now that you have an idea about the introduction of HTML, let’s know about some of its key features:

1. Structure 
HTML provides a way to structure web pages using elements like headings, paragraphs, lists, and more. This allows content to be organized and presented in a logical manner.

2. Hyperlinks
HTML enables the creation of hyperlinks, also known as anchor tags, which allow users to navigate between different web pages by clicking on links.

3. Images and Media
We can use HTML to include images, videos, and audio files in web pages using elements such. This enhances the visual and multimedia experience for users.

4. Forms
There are form elements in HTML that allow users to input data, such as submitting a contact form or making selections from dropdown menus.

5. Semantics
HTML includes semantic elements that give meaning and structure to different parts of a web page. This helps search engines understand the content and improves accessibility for users with assistive technologies.

6. Cross-platform compatibility
All the major web browsers support HTML. It works across different operating systems, making it a reliable and universal language for creating web pages.

7. Easy integration with CSS and JavaScript
HTML seamlessly integrates with Cascading Style Sheets (CSS) to add visual styles and layouts to web pages, as well as JavaScript for interactivity and dynamic behavior.

8. Responsive design
HTML provides features and techniques, such as media queries and responsive frameworks, that allow web pages to adapt and display well on different screen sizes and devices.

9. Accessibility
There are several accessibility features supported by HTML, like alt text for images, semantic markup for screen readers, and ARIA attributes to make web content accessible to users with disabilities.

10. Continuous evolution
HTML is constantly evolving, with new versions and specifications being developed to introduce new features and improve the language's capabilities.
                          </p>

                          <a href="#" class="btn btn-primary">Close</a>
                        </div>
                      </div>
                </div>




                <div class="css"></div>
                <div class="javascript"></div>
                <div class="java"></div>
                <div class="php"></div>
                <div class="nodejs"></div>
                <div class="python"></div>
                <div class="c_plus"></div>
                <div class="csharp"></div>
                <div class="kotlin"></div>
            </section>


            
<section class="bottomsection">
    <div class="services">
        <div class="infos">
            <h3>Our Services</h3>
            <hr>
            <p>We offer the best learning platform for simplifying programming concepts that <strong>helps you to grab your dream job and to become a product of yourself</strong>. Enroll with us in the following courses</p>
                <div class="lessons">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>React</li>
                    <li>Node.js</li>
                    <li>Python</li>
                    <li>Django</li>
                    <li>Kotlin</li>
                    <li>Swift</li>
                    <li>C++</li>
                    <li>Java</li>
                    <li>C#</li>
                    <li>MYSQL</li>
                    <li>PostgreSQL</li>
                    <li>MongoDB</li>
                </div>               
        </div>

        <div class="tools">
            <h3>Our Platform Softwares</h3>
            <hr>
            <p>We are using the following <strong>tools to make our platform easy</strong> to use and to make learning programming easier</p>
                <li>Visual Studio Code</li>
                <li>XAMMP</li>
                <li>Git</li>
                <li>GitHub</li>
                <li>Render (Free Hosting Platform)</li>
        </div>

        <div class="mission">
            <h3>Our Mission</h3>
            <hr>
            <p><strong>Our mission is to make learning programming as simple and accessible as possible for everyone</strong>. We want to help people to become productive programmers and to become a part of the global programming community</p>
        </div>

        <div class="media">
            <h3>Our Social Media</h3>
            <hr>
            <p>Follow us on our social media platforms to stay updated with the latest news, announcements, and events</p>
                <li><i class="uil uil-facebook"></i> Facebook</li>
                <li><i class="uil uil-twitter"></i> Twitter</li>
                <li><i class="uil uil-instagram"></i> Instagram</li>
                <li><i class="uil uil-linkedin"></i> LinkedIn</li>
            </div>
        </div>
        
        <div class="copyright">
            <strong>&COPY; 2024</strong> All Rights Reserved designed by Daniel Nimako CEO of (DPW)
            <div class="owner"></div>
        <h6>
            <i class="uil uil-phone"></i> +233 597639506 <br>
            <i class="uil uil-envelope"></i> codekaakyiredanny@gmail.com <br>
            <i class="uil uil-map-marker"></i> Effiduasi - Ashanti Region
        </h6>

    </div>
</section>








        </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script src="/js/vanilla.js"></script>
</body>
</html>

